node_modules

dist
out
build

.vite
.cache

*.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

public/assets
static

coverage
*.log
.idea
.vscode
